<!DOCTYPE html>
<html lang="en">

<head>
     
    <meta charset="utf-8">
     
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!--   <title>Index -  Bootstrap Template</title> -->
     
    <meta content="" name="description">
     
    <meta content="" name="keywords">

      <!-- Favicons -->
     
    <link href="static/assets/img/favicon.png" rel="icon">
     
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

      <!-- Fonts -->
     
    <link href="https://fonts.googleapis.com" rel="preconnect">
     
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
     
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

      <!-- Vendor CSS Files -->
     
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
     
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
     
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
     
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
     
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

      <!-- Main CSS File -->
     
    <link href="static/assets/css/main.css" rel="stylesheet">

</head>

<body class="index-page">
    <header id="header" class="header d-flex align-items-center sticky-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <h1 class="sitename">DevFolio</h1>
            </a>
            <div id="navmenu" class="navmenu">
                <ul>
                    <li><a href="#hero" class="active">Home<br></a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </div>
        </div>
    </header>
    <main class="main">
        <!-- Hero Section -->
        <section id="hero" class="hero section dark-background">
            <img src="static/assets/img/hero-img.jpg" alt="" data-aos="fade-in">
            <div class="container d-flex flex-column align-items-center justify-content-center text-center"
                data-aos="fade-up" data-aos-delay="100">
                <h2>I am Yash Sinha</h2>
                <p><span class="typed" data-typed-items="Developer , Graphic Designer, Cyber Security Enthusiast"></span></p>
            </div>
        </section><!-- /Hero Section -->


        <!-- About Section -->
        <section id="about" class="about section">
            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <div class="row gy-4 align-items-center">
                    <!-- Left Column for Image and Personal Info -->
                    <div class="col-lg-6">
                        <div class="row gy-4">
                            <div class="col-md-6">
                                <img src="static/assets/img/profile-img.jpg" class="img-fluid" alt="">
                            </div><!-- End Col (Image) -->
                            <div class="col-md-6">
                                <div class="about-info">
                                    <p><strong>Name: </strong> <span>Yash Sinha</span></p>
                                    <p><strong>Profile: </strong> <span>full stack developer</span></p>
                                    <p><strong>Email: </strong> <span>Yashsinha2512@gmail.com</span></p>
                                    <p><strong>Phone: </strong> <span>+91 9131291316</span></p>
                                </div><!-- End About Info -->
                            </div><!-- End Col (Personal Info) -->
                        </div><!-- End Row -->

                        <!-- Skills Content -->
                        <div class="skills-content skills-animation mt-4">
                            <h5>Skills</h5>
                            <div class="progress">
                                <span class="skill">HTML <i class="val">100%</i></span>
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <span class="skill">CSS <i class="val">80%</i></span>
                                <div class="progress-bar bg-custom" role="progressbar" style="width: 80%;"
                                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <span class="skill">Cloud <i class="val">70%</i></span>
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 70%;"
                                    aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <span class="skill">Bootstrap <i class="val">50%</i></span>
                                <div class="progress-bar bg-success" role="progressbar" style="width: 90%;"
                                    aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <span class="skill">Python <i class="val">85%</i></span>
                                <div class="progress-bar bg-info" role="progressbar" style="width: 85%;"
                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="progress">
                                <span class="skill">C++ <i class="val">75%</i></span>
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 75%;"
                                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><!-- End Skills Content -->
                    </div><!-- End Col (Left Column) -->

                    <!-- Right Column for About Me Section -->
                    <div class="col-lg-6">
                        <div class="about-me">
                            <h4>About me</h4>
                            <p>
                                As a dedicated researcher and backend developer, I thrive on the intersection of theory
                                and practical implementation. My journey has been shaped by hands-on experiences, both
                                as a UI developer and a cybersecurity enthusiast. Currently pursuing my M.Tech degree, I
                                am deeply immersed in researching Physical Unclonable Functions (PUFs) for secure key
                                generation and device authentication. Beyond academics, I’ve contributed to open-source
                                projects, completed the Google Cloud Ready Facilitator Program, and hosted photography
                                contests. I thrive in collaborative environments and am passionate about shaping a more
                                secure digital future.
                            </p>
                            </br>
                            <p>
                                My journey began with a fascination for code—transforming abstract algorithms into
                                tangible solutions. As a UI developer, I’ve crafted visually engaging interfaces,
                                ensuring seamless user experiences. But my curiosity didn’t stop there—I delved into the
                                intricacies of cybersecurity, exploring secure key generation, device authentication,
                                and anti-counterfeiting. I’m committed to safeguarding digital ecosystems, one line of
                                code at a time.
                            </p>
                            </br>
                            <p>
                                Beyond technical skills, I bring creativity and adaptability to the table. Whether it’s
                                optimizing database queries or architecting robust systems, I approach challenges with
                                curiosity and a growth mindset. I thrive in collaborative environments, where diverse
                                minds come together to tackle real-world problems. Let’s connect—I’m eager to contribute
                                my skills and passion to your team!
                            </p>
                        </div><!-- End About Me -->
                    </div><!-- End Col (Right Column) -->
                </div><!-- End Row -->
            </div><!-- End Container -->
        </section><!-- End About Section -->



        <!-- /Resume Section -->

            <section id="resume" class="resume section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Resume</h2>
            </div><!-- End Section Title -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="resume-title">Education</h3>
                        <div class="resume-item">
                            <h4>M.Tech.</h4>
                            <h5>Kalinga Institute of Industrial Technology (Current)</h5>
                            <p>2023-Present</p>
                        </div><!-- End Resume Item -->
                        <div class="resume-item">
                            <h4>B.Tech.</h4>
                            <h5>Chhattisgarh Swami Vivekanand Technical University</h5>
                            <p>80% (2019-2023)</p>
                        </div><!-- End Resume Item -->
                        <div class="resume-item">
                            <h4>Senior Secondary</h4>
                            <h5>CBSE Board</h5>
                            <p>72% (2019)</p>
                        </div><!-- End Resume Item -->
                        <div class="resume-item">
                            <h4>Secondary</h4>
                            <h5>CBSE Board</h5>
                            <p>85.5% (2017)</p>
                        </div><!-- End Resume Item -->
                    </div>
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                        <h3 class="resume-title">Experience</h3>
                        <div class="resume-item">
                            <h4>Kalinga Institute of Industrial Technology</h4>
                            <h5>01/2024 - (current)</h5>
                            <p>Instructed BTech students on Oracle SQL (Part-time)</p>
                            <ul>
                                <li>Taught Oracle SQL to BTech students.</li>
                            </ul>
                        </div><!-- End Resume Item -->
                        <div class="resume-item">
                            <h4>Agumentik Group</h4>
                            <h5>11/2022 - 12/2022</h5>
                            <p>UI Developer (Full-time, work from home)</p>
                            <ul>
                                <li>Produced visually engaging posters for marketing campaigns through Figma.</li>
                            </ul>
                        </div><!-- End Resume Item -->
                        <div class="resume-item">
                            <h4>Bharati Sangrahita</h4>
                            <h5>03/2021 - 05/2021</h5>
                            <p>Graphic Designer (Internship, Work from Home)</p>
                            <ul>
                                <li>Designed posts for their Instagram account.</li>
                                <li>Promoted to the event management team.</li>
                                <li>Created posters and thumbnails for their webinars and event flyers.</li>
                                <li>Hosted an event.</li>
                            </ul>
                        </div><!-- End Resume Item -->
                    </div>
                </div>
            </div>
        </section>


        <section id="services" class="services section">
            <div class="container section-title" data-aos="fade-up">
                <h2>Projects</h2>
            </div>
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-activity"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Devfolio: Portfolio Website</h3>
                            </a>
                            <p>Devfolio is a meticulously crafted portfolio website that I developed using a combination
                                of HTML, CSS, JavaScript, Flask, and Bootstrap. It serves as a showcase for my skills,
                                experience, and various projects. The clean design and intuitive user interface
                                highlight my commitment to creating engaging web experiences.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-broadcast"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Hand Sign Recognition</h3>
                            </a>
                            <p>In this project, I delve into real-time hand gesture recognition using Python. Leveraging
                                OpenCV, I capture live video streams from a webcam, and then employ a pre-trained deep
                                learning model (possibly created with Google's Teachable Machine) to identify hand signs
                                ranging from 0 to 5. The goal is to enhance user interaction and accessibility through
                                intuitive gesture-based controls.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-easel"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Real-time chat application </h3>
                            </a>
                            <p> This project is a real-time chat client application built using Python and Tkinter. It allows users to connect to a server, send and receive messages, and export chat history in either text or JSON format. The interface features a dark theme and intuitive message alignment for better user experience.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



          <!-- Testimonials Section -->
        <!--     <section id="testimonials" class="testimonials section accent-background">

                  <img src="static/assets/img/testimonials-bg.jpg" class="testimonials-bg" alt="">

                  <div class="container" data-aos="fade-up" data-aos-delay="100">

                        <div class="swiper init-swiper">
                             
                    <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>
                              <div class="swiper-wrapper">

                                    <div class="swiper-slide">
                                          <div class="testimonial-item">
                                                <img src="static/assets/img/testimonials/testimonials-1.jpg"
                                    class="testimonial-img" alt="">
                                                <h3>Saul Goodman</h3>
                                                <h4>Ceo &amp; Founder</h4>
                                                <div class="stars">
                                                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                        class="bi bi-star-fill"></i>
                                                    </div>
                                                <p>
                                                      <i class="bi bi-quote quote-icon-left"></i>
                                                      <span>Proin iaculis purus consequat sem cure digni ssim donec
                                        porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam
                                        eget nibh et. Maecen aliquam, risus at semper.</span>
                                                      <i class="bi bi-quote quote-icon-right"></i>
                                                    </p>
                                              </div>
                                        </div><!-- End testimonial item -->

                        <!--             <div class="swiper-slide">
                                          <div class="testimonial-item">
                                                <img src="static/assets/img/testimonials/testimonials-2.jpg"
                                    class="testimonial-img" alt="">
                                                <h3>Sara Wilsson</h3>
                                                <h4>Designer</h4>
                                                <div class="stars">
                                                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                        class="bi bi-star-fill"></i>
                                                    </div>
                                                <p>
                                                      <i class="bi bi-quote quote-icon-left"></i>
                                                      <span>Export tempor illum tamen malis malis eram quae irure esse
                                        labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt
                                        aliqua noster fugiat irure amet legam anim culpa.</span>
                                                      <i class="bi bi-quote quote-icon-right"></i>
                                                    </p>
                                              </div>
                                        </div><!-- End testimonial item -->

                        <!--             <div class="swiper-slide">
                                          <div class="testimonial-item">
                                                <img src="static/assets/img/testimonials/testimonials-3.jpg"
                                    class="testimonial-img" alt="">
                                                <h3>Jena Karlis</h3>
                                                <h4>Store Owner</h4>
                                                <div class="stars">
                                                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                        class="bi bi-star-fill"></i>
                                                    </div>
                                                <p>
                                                      <i class="bi bi-quote quote-icon-left"></i>
                                                      <span>Enim nisi quem export duis labore cillum quae magna enim
                                        sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster
                                        aute amet eram fore quis sint minim.</span>
                                                      <i class="bi bi-quote quote-icon-right"></i>
                                                    </p>
                                              </div>
                                        </div> -->
                            <!-- End testimonial item -->

                        <!--             <div class="swiper-slide">
                                          <div class="testimonial-item">
                                                <img src="static/assets/img/testimonials/testimonials-4.jpg"
                                    class="testimonial-img" alt="">
                                                <h3>Matt Brandon</h3>
                                                <h4>Freelancer</h4>
                                                <div class="stars">
                                                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                        class="bi bi-star-fill"></i>
                                                    </div>
                                                <p>
                                                      <i class="bi bi-quote quote-icon-left"></i>
                                                      <span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa
                                        multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim
                                        magna sunt elit fore quem dolore labore illum veniam.</span>
                                                      <i class="bi bi-quote quote-icon-right"></i>
                                                    </p>
                                              </div>
                                        </div> -->
                            <!-- End testimonial item -->

                        <!--             <div class="swiper-slide">
                                          <div class="testimonial-item">
                                                <img src="static/assets/img/testimonials/testimonials-5.jpg"
                                    class="testimonial-img" alt="">
                                                <h3>John Larson</h3>
                                                <h4>Entrepreneur</h4>
                                                <div class="stars">
                                                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                        class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                        class="bi bi-star-fill"></i>
                                                    </div>
                                                <p>
                                                      <i class="bi bi-quote quote-icon-left"></i>
                                                      <span>Quis quorum aliqua sint quem legam fore sunt eram irure
                                        aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum
                                        cillum fugiat legam esse veniam culpa fore nisi cillum quid.</span>
                                                      <i class="bi bi-quote quote-icon-right"></i>
                                                    </p>
                                              </div>
                                        </div> -->
                            <!-- End testimonial item -->

                        <!--           </div>
                              <div class="swiper-pagination"></div>
                           
                </div>

                      </div>

                </section>/Testimonials Section    -->

            <!-- Contact Section -->
            <h2>



            <!--       <div class="container" data-aos="fade-up" data-aos-delay="100"> -->

                <!--         <div class="info-wrap" data-aos="fade-up" data-aos-delay="200">
                              <div class="row gy-5">

                                    
                                    

                                    

                                  </div>
                            </div> -->
<!-- 
                        <form action="static/forms/contact.php" method="post" class="php-email-form" data-aos="fade-up"
                    data-aos-delay="300">
                              <div class="row gy-4">

                                    <div class="col-md-6">
                                          <input type="text" name="name" class="form-control" placeholder="Your Name"
                                required="">
                                        </div>

                                    <div class="col-md-6 ">
                                          <input type="email" class="form-control" name="email" placeholder="Your Email"
                                required="">
                                        </div>

                                    <div class="col-md-12">
                                          <input type="text" class="form-control" name="subject" placeholder="Subject"
                                required="">
                                        </div>

                                    <div class="col-md-12">
                                          <textarea class="form-control" name="message" rows="6" placeholder="Message"
                                required=""></textarea>
                                        </div>

                                    <div class="col-md-12 text-center">
                                          <div class="loading">Loading</div>
                                          <div class="error-message"></div>
                                          <div class="sent-message">Your message has been sent. Thank you!</div>

                                          <button type="submit">Send Message</button>
                                        </div>

                                  </div>
                            </form> -->
                    <!-- End Contact Form -->

                      

                    </h2>
            <!-- /Contact Section -->

            <!--   new c -->
            <section id="contact" class="contact section" style="text-align: center;">

                <div class="container section-title" data-aos="fade-up">
                    <h2>Contact</h2>
                </div><!-- End Section Title -->
            
                <div class="container" data-aos="fade-up" data-aos-delay="100">
                    <div class="info-wrap" data-aos="fade-up" data-aos-delay="200" style="display: flex; justify-content: space-between; text-align: left;">
                        <div class="info-item d-flex align-items-center" style="flex: 1; margin-right: 20px;">
                            <i class="bi bi-geo-alt flex-shrink-0" style="font-size: 2rem;"></i>
                            <div style="margin-left: 10px;">
                                <h3>Address</h3>
                                <p>Kings Palace 5a</p>
                            </div>
                        </div><!-- End Info Item -->
            
                        <div class="info-item d-flex align-items-center" style="flex: 1; margin-right: 20px;">
                            <i class="bi bi-telephone flex-shrink-0" style="font-size: 2rem;"></i>
                            <div style="margin-left: 10px;">
                                <h3>Contact No</h3>
                                <p>+91 9131291316</p>
                            </div>
                        </div><!-- End Info Item -->
            
                        <div class="info-item d-flex align-items-center" style="flex: 1;">
                            <i class="bi bi-envelope flex-shrink-0" style="font-size: 2rem;"></i>
                            <div style="margin-left: 10px;">
                                <h3>Email Us</h3>
                                <p>Yashsinha2512@gmail.com</p>
                            </div>
                        </div><!-- End Info Item -->
                    </div>
                    
                    <form action="static/forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="300" style="margin-top: 30px;">
                        <div class="row gy-4">
                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="Your Name" required="" style="width: 100%; margin-bottom: 15px;">
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control" name="email" placeholder="Your Email" required="" style="width: 100%; margin-bottom: 15px;">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="subject" placeholder="Subject" required="" style="width: 100%; margin-bottom: 15px;">
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" name="message" rows="6" placeholder="Message" required="" style="width: 100%; margin-bottom: 15px;"></textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit" style="padding: 10px 25px; background-color: #007bff; border: none; color: white;">Send Message</button>
                            </div>
                        </div>
                    </form><!-- End Contact Form -->
                </div>
            
            </section><!-- /Contact Section -->
            
            

         
    </main>

      <footer id="footer" class="footer accent-background">

            <div class="container">
                  <div class="copyright text-center ">

                      </div>
                  <div class="social-links d-flex justify-content-center">
                        <a href=""><i class="bi bi-twitter-x"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                      </div>
                  <div class="credits">

                        Designed by <a href="https://bootstrapmade.com/">Yash</a>
                      </div>
                </div>

          </footer>

      <!-- Scroll Top -->
      <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

      <!-- Preloader -->
      <div id="preloader"></div>

      <!-- Vendor JS Files -->
     
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
     
    <script src="static/assets/vendor/php-email-form/validate.js"></script>
     
    <script src="static/assets/vendor/aos/aos.js"></script>
     
    <script src="static/assets/vendor/typed.js/typed.umd.js"></script>
     
    <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
     
    <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
     
    <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
     
    <script src="static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
     
    <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
     
    <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>

      <!-- Main JS File -->
     
    <script src="static/assets/js/main.js"></script>

</body>

</html>